* {
  background-color: rgb(16, 16, 16);
  color: white;
}

.Title {
  font-size: 280px;
  text-align: center;
  padding: 7rem;
}
hr {
  margin-top: 3rem;
  margin-bottom: 2rem;
  width: 50%;
  height: 2px;
  background-color: white;
}

.overview p {
}
.text {
  padding: 6rem;
  text-align: center;
  max-width: 70pc;
  margin-left: 8%;
}
.text h1 {
  padding: 2rem;
  font-size: 50px;
}
.text p {
  padding: 1rem;
  font-size: 20px;
  line-height: 40px;
}

.overview img,
.text {
  display: inline-block;
}

.overview img {
  width: 600px;
  height: 600px;
  padding: 30px;
}

.mission,
.vision {
  font-size: 30px;
  max-width: 50pc;
  padding: 30px;
  margin: 60px;
}
.mission h1,
.vision h1 {
  margin-bottom: 100px;
}
.vision {
  float: right;
}
