* {
  background-color: rgb(16, 16, 16);
  color: white;
  margin: 0px;
  padding: 0px;
}
.logo {
  position: absolute;
}

.title {
  display: inline-block;
  padding: 0px 40px;
  letter-spacing: 12px;
  margin: 50px 35px 0px 0rem;
}
.port,
.folio {
  font-size: 13pc;
}
.folio {
  margin-bottom: 3pc;
}
.quote {
  font-size: 18px;
  max-width: 700px;
  line-height: 30px;
  letter-spacing: 7px;
  margin: 0pc 0 4pc 0;
}

.port {
  color: transparent;
  -webkit-text-stroke: 3px;
  -webkit-text-stroke-color: white;
  margin-bottom: 80px;
}

.portfolio {
  margin-top: 10rem;
  height: 40pc;
  width: 40pc;
  display: inline-block;
}
#testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.testimonials-title {
  letter-spacing: 1px;
  margin: 30px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonials-title h1 {
  font-size: 2.4rem;
  font-weight: 500;
  background-color: rgb(232, 232, 228);
  color: #000;
  padding: 10px 20px;
}
.testimonials-title span {
  font-size: 1.2rem;
  margin-bottom: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.testimonial * {
  background-color: rgb(244, 239, 239);
}
.testimonial-box {
  border-radius: 5px;
  margin: 15px;
  padding: 20px;
  width: 500px;
  box-shadow: 2px 2px 30px rgba(239, 236, 236, 0.622);
  cursor: pointer;
}
.testimonial-box:hover {
  transform: translateY(-8px);
  transition: all ease 0.4s;
}
.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.profileImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.profile {
  display: flex;
  align-items: center;
}
.name {
  display: flex;
  flex-direction: column;
}
.name strong {
  color: #4a4a4a;
  font-size: 1rem;
  letter-spacing: 0.5px;
}
.name span {
  color: #525252;
  font-size: 0.8rem;
}
.reviews i {
  color: rgba(255, 213, 0, 0.951);
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.comment p {
  color: #242424;
  font-size: 1rem;
}
.intro {
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
  line-height: 40px;
  margin: 7rem 10rem 2rem 10rem;
  padding: 3rem;
}
.bookNow {
  margin-bottom: 10rem;
}
.book {
  position: absolute;
  left: 50%;
  display: block;
  padding: 18px;
  margin: 0;
  background-color: blanchedalmond;
  color: black;
  border-radius: 30px;
  border: 30px;
  width: 10pc;
  font-size: large;
  font-weight: bolder;
}
.book i {
  margin: 2px;
  color: black;
  background-color: transparent;
}

/*Photography*/
.photography {
  padding: 5rem 3rem;
}
.PhotoTypes {
  font-size: 50px;
  text-align: center;
  letter-spacing: 20px;
  padding: 40px 0px;
  text-shadow: #ffffff7f 2px 2px 10px;
}
.product {
  max-width: 950px;
  padding: 10px 50px;
  margin-left: 10rem;
  align-items: center;
  overflow: hidden;
  font-weight: 500;
}
.product input {
  display: none;
}
.product label {
  font-size: 22px;
  letter-spacing: 3px;
  text-align: center;
  position: relative;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-weight: 600;
  box-shadow: 0 5px 11px 0 black, 0 4px 11px 0 black;
  color: white;
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 20px;
  z-index: 1;
}
.product i {
  content: "";
  position: absolute;
  right: 15px;
  top: 15px;
  width: 18px;
  height: 18px;
  background: no-repeat 0 0;
  transition: all 0.3s ease;
}
.product input:checked + i {
  transform: rotate(90deg);
}
.productGallery {
  max-height: 1px;
  overflow: hidden;
  border-radius: 4px;
  line-height: 1px;
  position: relative;
  top: -100%;
  opacity: 0.5;
  transition: all 0.3s ease;
}
.product input:checked ~ .productGallery {
  max-height: 300px;
  padding-bottom: 25px;
  background-color: white;
  box-shadow: 0 5px 11px 0 black, 0 4px 11px 0 black;
  opacity: 1;
  top: 0;
}

/*photography*/
.images {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.image:hover {
  border: 1px solid white;
}

.image {
  width: 350px;
  height: 250px;
  position: relative;
  padding: 3px;
}
.image img {
  max-height: 220px;
  width: 100%;
  margin: auto;
  display: block;
}

.desc {
  padding: 15px;
  text-align: center;
}
.content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
}
.content:hover {
  opacity: 1;
}
.content h2 {
  text-align: center;
  line-height: 25px;
  font-size: 32px;
  color: rgb(162, 100, 100);
  margin-bottom: 20px;
  background-color: transparent;
}
.content p {
  font-size: 12px;
  font-weight: bold;
  max-width: 350px;
  line-height: 20px;
  text-align: center;
  color: white;
  background-color: transparent;
}
.content > * {
  transform: translateY(25px);
  transition: transform 0.6s;
}
.content:hover > * {
  transform: translateY(0px);
}
